 body {
    background-color:  #CDF5FD;
}

.navbar{
    background-color: #44c7ff;
    color: #ffff !important;
}

div#general{
    margin:auto;
    background-color: #A0E9FF;  
    width: 960px;
    margin-bottom: 0% !important;
    
}

.card{
    margin: auto !important;
    margin-top: 20px !important;
}

.titulo{
    justify-content: center !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    
}

#contacto{
    background-color:#7BD3EA ;
    opacity: 60%;
    margin-top: 10px;
    height: 200px;
    
}








@media screen and (max-width: 1700px){
    

}